name: Test Project Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4.1.1     
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: nmp test